<%= error_messages_for 'user' %>
<%= form_for(:user, :url => {:action => :update_password, :id => @user.id}) do |u| %>
	<table class="form-controls">
		<tbody>
			<tr>
				<th>
					<label for="old_password">Old password</label>
				</th>
				<td>
					<input id="old_password" name="old_password" size="15" type="password" />
				</td>
			</tr>
			<tr>
				<th>
			    <label for="password">New password</label>
				</th>
				<td>
					<%= password_field_tag 'password', '', :size => 15 %>
				</td>
			</tr>
			<tr>
				<th>
			    <label for="new_password">Confirm new password</label>
				</th>
				<td>
					<%= password_field_tag 'password_confirmation', '', :size => 15 %>
				</td>
			</tr>
		</tbody>
	</table>
	<%= submit_tag "Change"%>
<% end %>
