<% linkable_name = URI.escape(style.short_description.gsub('?', ''), Regexp.new("[^#{URI::PATTERN::UNRESERVED}]"))%>

<div id="style-install-unknown" class="install-status install-info">
	<p>To use this style, install <a href="https://www.mozilla.org/firefox/">Firefox</a> and <a href="https://addons.mozilla.org/en-US/firefox/addon/stylish/?src=external-installbox">Stylish</a>. If you already have Stylish, make sure this site is allowed to run JavaScript.</p>

	<% if !style.nil? and style.userjs_available? %>
		<p class="install-note">(Though installing Stylish is recommended, if your browser supports user <em>scripts</em>, you can also <a id="chrome-userjs-install" href="/styles/userjs/<%=style.id%>/<%=linkable_name%>.user.js" class="alternate-install" rel="nofollow">install this style as a user script</a>.)</p>
	<% end %>
</div>

<div id="style-install-mobile-safari-android" class="install-status install-info" style="display: none">
	Did you know <a href="https://www.mozilla.org/firefox/">Firefox is available on Android</a>? You'll need that and <a href="https://addons.mozilla.org/en-US/firefox/addon/stylish/?src=external-installbox">Stylish</a> to use this.
</div>

<div id="style-install-mobile-chrome-android" class="install-status install-info" style="display: none">
	Did you know <a href="https://www.mozilla.org/firefox/">Firefox is available on Android</a>? You'll need that and <a href="https://addons.mozilla.org/en-US/firefox/addon/stylish/?src=external-installbox">Stylish</a> to use this.
</div>

<div id="stylish-installed-style-installed" class="install-status install-info" style="display: none">
	<span class="install-symbol">✓</span> Style installed! <a class="install-note" href="/help/stylish_firefox" rel="nofollow">Need help?</a>
	<%=render :partial => 'after_install_ad'%>
</div>

<div id="stylish-installed-style-installed-ie" class="install-status install-info" style="display: none">
	<span class="install-symbol">✓</span> Style installed! <a class="install-note" href="/help/stylish" rel="nofollow">Need help?</a>
	<%=render :partial => 'after_install_ad'%>
</div>

<div id="stylish-installed-style-installed-chrome" class="install-status install-info" style="display: none">
	<span class="install-symbol">✓</span> Style installed! <a class="install-note" href="/help/stylish_chrome" rel="nofollow">Need help?</a>
	<%=render :partial => 'after_install_ad'%>
</div>

<div id="stylish-installed-style-installed-opera" class="install-status install-info" style="display: none">
	<span class="install-symbol">✓</span> Style installed!
	<%=render :partial => 'after_install_ad'%>
</div>

<div id="stylish-installed-style-needs-update" class="install-status install" style="display: none">
	<span class="install-symbol">+</span> Update with Stylish
</div>

<div id="stylish-installed-style-needs-update-chrome" class="install-status install" style="display: none">
	<span class="install-symbol">+</span> Update with Stylish
</div>

<div id="stylish-installed-style-needs-update-opera" class="install-status install" style="display: none">
	<span class="install-symbol">+</span> Update with Stylish
</div>

<div id="stylish-installed-style-not-installed" class="install-status install" style="display: none">
	<span class="install-symbol">+</span> Install with Stylish
</div>

<div id="stylish-installed-style-not-installed-ie" style="display: none" class="install-status install">
	<span class="install-symbol">+</span> Install with Stylish
</div>

<div id="style-install-mozilla-no-stylish" class="install-status install-info" style="display: none">
	<p>To use this style, install <a href="https://addons.mozilla.org/firefox/downloads/latest/2108/platform:5/addon-2108-latest.xpi?src=external-installbox">Stylish</a>.</p>
	<% if !style.nil? and style.userjs_available? %>
		<p class="install-note">(Though installing Stylish is recommended, Greasemonkey users can also <a id="mozilla-user-style-install" href="/styles/userjs/<%=style.id%>/<%=linkable_name%>.user.js" class="alternate-install" rel="nofollow">install this style as a user script</a>.)</p>
	<% end %>
</div>

<div id="style-install-ie" class="install-status install-info" style="display: none">
	<p>To use this style, install <a href="https://www.mozilla.org/firefox/">Firefox</a> and <a href="https://addons.mozilla.org/en-US/firefox/addon/stylish/?src=external-installbox">Stylish</a>.</p>

	<% if !style.nil? and style.userjs_available? %>
		<p class="install-note">(Though installing Stylish is recommended, <a href="http://www.ie7pro.com/">IE7Pro</a> users can also <a id="ie-user-style-install" href="ie7pro://<%=DOMAIN%>/styles/ieuserjs/<%=style.id%>/<%=linkable_name%>.ieuser.js" class="alternate-install">install as a user script</a>.)</p>
	<% end %>
</div>

<% if style.chrome_json_available? %>
	<div id="style-install-opera" class="install-status install-info" style="display: none">
		<div id="style-install-opera-old">
			<p>To use this style, install <a href="https://addons.opera.com/extensions/download/stylish-for-opera/">Stylish</a>.</p>

			<% if style.opera_css_available? or style.userjs_available? %>
				<p class="install-note">(Though installing Stylish is recommended, you can also
					<% if style.opera_css_available? and style.userjs_available? %>
						<a id="opera-css-install-both" href="/styles/operacss/<%=style.id%>/<%=linkable_name%>.css" class="alternate-install" rel="nofollow">install as plain CSS</a> or <a id="opera-userjs-install-both" href="/styles/js/<%=style.id%>/<%=linkable_name%>.js" class="alternate-install" rel="nofollow">install as user JS</a>.)
					<% elsif style.opera_css_available? %>
						<a id="opera-css-install" href="/styles/operacss/<%=style.id%>/<%=linkable_name%>.css" class="alternate-install" rel="nofollow">install as plain CSS</a>.)
					<% else %>
						<a id="opera-userjs-install" href="/styles/js/<%=style.id%>/<%=linkable_name%>.js" class="alternate-install" rel="nofollow">install as user JS</a>.)
					<% end %>
				</p>
			<% end %>
		</div>
		<div id="style-install-opera-new" style="display: none">
			<p>To use this style, install <a href="https://addons.opera.com/extensions/download/stylish/">Stylish</a>.</p>

			<% if style.userjs_available? %>
				<p class="install-note">(Though installing Stylish is recommended, you can also
					<a id="newopera-userjs-install" href="/styles/js/<%=style.id%>/<%=linkable_name%>.js" class="alternate-install" rel="nofollow">install as user JS</a>.)
				</p>
			<% end %>
		</div>
		<script>
			if (navigator.userAgent.indexOf("OPR") > -1) {
				// new opera
				document.getElementById("style-install-opera-new").style.display = "";
				document.getElementById("style-install-opera-old").style.display = "none";
			}
		</script>
	</div>

	<div id="stylish-installed-style-not-installed-opera" class="install-status install" style="display:none">
			<span class="install-symbol">+</span> Install with Stylish
			<div style="clear: left"></div>
	</div>
<% else %>
	<div id="style-install-opera" class="install-status install-info" style="display: none">
		<p>To use this style, install <a href="https://addons.opera.com/extensions/download/stylish-for-opera/">Stylish</a>.</p>

		<% if style.opera_css_available? or style.userjs_available? %>
			<p class="install-note">(Though installing Stylish is recommended, you can also
				<% if style.opera_css_available? and style.userjs_available? %>
					<a id="opera-css-install-both" href="/styles/operacss/<%=style.id%>/<%=linkable_name%>.css" class="alternate-install" rel="nofollow">install as plain CSS</a> or <a id="opera-userjs-install-both" href="/styles/js/<%=style.id%>/<%=linkable_name%>.js" class="alternate-install" rel="nofollow">install as user JS</a>.)
				<% elsif style.opera_css_available? %>
					<a id="opera-css-install" href="/styles/operacss/<%=style.id%>/<%=linkable_name%>.css" class="alternate-install" rel="nofollow">install as plain CSS</a>.)
				<% else %>
					<a id="opera-userjs-install" href="/styles/js/<%=style.id%>/<%=linkable_name%>.js" class="alternate-install" rel="nofollow">install as user JS</a>.)
				<% end %>
			</p>
		<% end %>
	</div>
	<div id="stylish-installed-style-not-installed-opera" class="install-status no-install" style="display: none"><span class="install-symbol">X</span> Not available on Opera.</div>
<% end %>

<% if style.chrome_json_available? %>
	<div id="style-install-chrome" class="install-status install-info" style="display: none">
		<p>To use this style, first <a id="install-stylish-chrome" href="https://chrome.google.com/webstore/detail/fjnbnpbmkenffdnngjfgmeleoegfcffe">install Stylish</a>. <span class="install-note">(<a href="/login/policy">Privacy Policy</a>)</span></p>

		<% if !style.nil? and style.userjs_available? %>
			<p class="install-note">(Though installing Stylish is recommended, TamperMonkey users can also <a id="chrome-userjs-install" href="/styles/userjs/<%=style.id%>/<%=linkable_name%>.user.js" class="alternate-install" rel="nofollow">install this style as a user script</a>.)</p>
		<% end %>

	</div>

	<div id="stylish-installed-style-not-installed-chrome" class="install-status install" style="display:none">
		<span class="install-symbol">+</span> Install with Stylish
		<div style="clear: left"></div>
	</div>

	<div id="style-install-safari" class="install-status install-info" style="display: none">
		<p>To use this style, first <a id="install-stylish-chrome" href="http://sobolev.us/stylish/">install Stylish</a>.</p>
	</div>

	<div id="stylish-installed-style-not-installed-chrome" class="install-status install" style="display:none">
		<span class="install-symbol">+</span> Install with Stylish
		<div style="clear: left"></div>
	</div>
<% else %>
	<div id="style-install-chrome" class="install-status no-install" style="display:none"><span class="install-symbol">X</span> Not available on Chrome.</div>

	<div id="style-install-chrome" class="install-status no-install" style="display:none"><span class="install-symbol">X</span> Not available on Safari.</div>

	<div id="stylish-installed-style-not-installed-chrome" class="install-status no-install" style="display: none"><span class="install-symbol">X</span> Not available on Chrome.</div>
<% end %>
