<form action="/styles/browse_r" method="GET" style="clear:both;">
	<p id="search-options">
		Search for
		<input name="search_terms" value="<%=h(params[:search_terms] == 'all' ? '' : params[:search_terms])%>" title="Enter search terms or a URL">
		in
		<select name="category">
			<option value="all"<%=@bc_category=='all' ? ' selected="selected"' : ''%>>All styles</option>
			<option value="app"<%=@bc_category=='app' ? ' selected="selected"' : ''%>>App styles</option>
			<option value="global"<%=@bc_category=='global' ? ' selected="selected"' : ''%>>Global styles</option>
			<option value="site"<%=@bc_category=='site' and @bc_subcategory.nil? ? ' selected="selected"' : ''%>>Site styles</option>
			<% if !@bc_subcategory.nil? %>
				<option value="<%=h @bc_subcategory%>" selected="selected"><%=h @bc_subcategory.capitalize%> styles</option>
			<% end %>
		</select>
		ordered by
		<select name="sort">
			<% chosen_sort = params[:sort].nil? ? 'popularity' : params[:sort] %>
			<% $sorts_map.keys.each do |sort| %>
				<option<%=chosen_sort == sort ? ' selected="selected"' : ''%> value="<%=h sort%>"><%=h sort.gsub('_', ' ')%></option>
			<% end %>
		</select>
		<select name="sort_direction">
			<% direction = params[:sort_direction].nil? ? 'desc' : params[:sort_direction].downcase %>
			<option value="asc"<%=direction == 'asc' ? ' selected="selected"' : ''%>>ascending</ascending>
			<option value="desc"<%=direction == 'desc' ? ' selected="selected"' : ''%>>descending</ascending>
		</select>,
		showing
		<select name="per_page">
			<option<%=params[:per_page].to_i == 30 ? ' selected="selected"' : ''%>>30</option>
			<option<%=params[:per_page].to_i == 50 ? ' selected="selected"' : ''%>>50</option>
			<option<%=params[:per_page].to_i == 100 ? ' selected="selected"' : ''%>>100</option>
			<option<%=params[:per_page].to_i == 200 ? ' selected="selected"' : ''%>>200</option>
			<% if ![0,30,50,100,200].include?(params[:per_page].to_i) %>
				<option selected="selected"><%=params[:per_page].to_i%></option>
			<% end %>
		</select>
		per page.
		<input type="submit" value="Search">
	</p>
</form>
