<style>
	.never {
		background-color: #FAA;
	}
	.updated {
		background-color: #FFA;
	}
</style>
<% @styles.each do |style| %>
	<div class="<%= style.auto_screenshot_date.nil? ? 'never' : (style.auto_screenshot_date <= style.updated.to_date ? 'updated' : 'refresh') %>">
		<a href="<%=url_for(:action => :automation_page, :id => style.id)%>"><%=style.short_description%></a>
		| screenshot: <%=style.last_screenshot_attempt.nil? ? 'never' : style.last_screenshot_attempt.strftime("%F")%>
		| setting: <%=style.screenshot_type_preference%>
		| updated: <%=h style.updated.strftime("%F")%>
	</div>
<% end %>
