<% if skip_remember == nil
	skip_remember = false
end %>
<div id="login">
	<p>
		<% if login_reason.nil? %>
			Login or create an account.
		<% else %>
			<%=login_reason%>
		<% end %>
	</p>
	<% if @login_failed %>
		<p class="error">Incorrect username/password.</p>
	<% end %>

	<%=form_tag({:controller => 'login', :action => 'authenticate_openid'}, {:id => 'openid-login-form', :style => (params['view'].nil? or params['view'] == 'openid') ? '' : 'display:none'}) do |f| %>
		<div id="login-options" style="<%=params['view'].nil? ? '' : 'display:none'%>">
			<p class="login-option-explanation">Log in with:</p>

			<% Rails.application.config.available_auths.keys.each do |provider| %>
				<%=link_to UserAuthenticator.pretty_provider(provider), "/auth/#{provider}" + (return_to.nil? ? '' : ('?' + {:origin => return_to}.to_query)), {:class => "#{provider}-login btn-auth btn-google"}%>
			<% end %>

			<%
				openid_logins = [
					#{:name => 'Facebook', :class => 'facebook', :url => ''},
					#{:name => 'Twitter', :class => 'twitter', :url => ''},
					#{:name => 'Google', :class => 'google', :url => 'https://www.google.com/accounts/o8/id'},
					#{:name => 'GitHub', :class => 'github', :url => ''},
					{:name => 'Yahoo!', :class => 'yahoo', :url => 'https://me.yahoo.com/'},
					#{:name => 'Windows Live ID', :class => 'windows', :url => ''},	
				]
				openid_logins.each do |provider| %>
					<a class="btn-auth btn-<%=provider[:class]%>" href="<%=url_for(:controller => 'login', :action => 'authenticate_openid', :openid => provider[:url])%>" onclick="return logInWithOpenId('<%= provider[:url]%>')"><%=provider[:name]%></a>
				<% end %>
		<a class="btn-auth btn-openid" href="?view=openid" onclick="return showOpenIdEntry();">OpenID</a>
		<a class="btn-auth btn-password" href="?view=password" onclick="return showPasswordEntry();">User name/password</a>
		</div>

		<script>
			function logInWithOpenId(url) {
				document.getElementById("openid").value = url;
				document.getElementById("openid-login-form").submit();
				return false;
			}

			function showOpenIdEntry() {
				document.getElementById("login-options").style.display = "none";
				document.getElementById("openid-login").style.display = "";
				return false;
			}

			function showPasswordEntry() {
				document.getElementById("openid-login-form").style.display = "none";
				document.getElementById("password-login").style.display = "";
				return false;
			}

			function showAccountCreate() {
				document.getElementById("password-login").style.display = "none";
				document.getElementById("password-create").style.display = "";
				return false;
			}

			function showLoginStart() {
				document.getElementById("login-options").style.display = "";
				document.getElementById("openid-login-form").style.display = "";
				document.getElementById("openid-login").style.display = "none";
				document.getElementById("password-login").style.display = "none";
				document.getElementById("password-create").style.display = "none";
				return false;
			}
		</script>

		<div id="openid-login" style="<%=(!params['view'].nil? and params['view'] == 'openid') ? '' : 'display:none'%>">
			<p><span class="login-option-explanation">Log in with my OpenID:</span> <a href="<%=url_for(:controller => 'login', :action => 'index')%>" class="login-navigation" onclick="return showLoginStart()">Back</a></p>
			<input id="openid" name="openid" type="url" size="30">
			<input type="submit" value="Log in">
		</div>
		<% if !return_to.nil?%>
			<input type="hidden" name="return_to" value="<%=return_to%>">
		<% end %>
		<% if !skip_remember %>
			<p>
				<input id="remember-openid" name="remember" type="checkbox" value="true"><label for="remember-openid">Keep me logged in</label>
			</p>
		<% end %>
	<% end %>

	<%=form_tag({:controller => 'login', :action => 'authenticate_normal'}, {:id => 'password-login', :style => (!params['view'].nil? and params['view'] == 'password') ? '' : 'display:none'}) do |f| %>
		<p><span class="login-option-explanation">Log in with my userstyles.org user name and password:</span> <a class="login-navigation" href="<%=url_for(:controller => 'login', :action => 'index')%>" onclick="return showLoginStart()">Back</a></p>
		<input id="login-existing" name="login" placeholder="User name">
		<input id="password-existing" name="password" type="password" placeholder="Password">
		<% if !skip_remember %>
			<input id="remember-normal" name="remember" type="checkbox" value="true"><label for="remember-normal">Keep me logged in</label>
		<% end %>
		<% if !return_to.nil?%>
			<input type="hidden" name="return_to" value="<%=return_to%>">
		<% end %>
		<input type="hidden" name="view" value="password">
		<input type="submit" value="Log in">
		<p>
			<a href="?view=create" onclick="return showAccountCreate()">Create account</a> |
			<%= link_to "Lost password", :controller => 'login', :action => 'lost_password' %>
		</p>
	<% end %>

	<%=form_tag({:controller => 'users', :action => 'create'}, {:id => 'password-create', :style => (!params['view'].nil? and params['view'] == 'create') ? '' : 'display:none'}) do |f| %>
		<p><span class="login-option-explanation">Create a userstyles.org account:</span> <a href="<%=url_for(:controller => 'login', :action => 'index')%>" class="login-navigation" onclick="return showLoginStart()">Back</a></p>
		<table>
			<tr><td><label for="login-new" class="text-label">User name</label></td><td><input id="login-new" name="user[login]" maxlength="50" required></td></tr>
			<tr><td><label for="email-new" class="text-label">Email</label></td><td><input id="email-new" name="user[email]" type="email"></td><td> <span style="font-size: smaller">Optional, lets you recover your password</span></tr>
			<tr><td><label for="password-new" class="text-label">Password</label></td><td><input id="password-new" name="user[password]" type="password"></td></tr>
			<tr><td><label for="password-new-confirm" class="text-label">Confirm password</label></td><td><input id="password-new-confirm" name="user[password_confirmation]" type="password"></td></tr>
			<% if !skip_remember %>
				<tr><td></td><td><input id="remember-create" name="remember" type="checkbox" value="true"><label for="remember-create">Keep me logged in</label></td></tr>
			<% end %>
			<tr><td>
				<% if !return_to.nil? %>
					<input type="hidden" name="return_to" value="<%=return_to%>">
				<% end %>
				<input type="hidden" name="view" value="create">
				<input type="submit" value="Create account"></td></tr>
			</td></tr>
		</table>
	<% end %>

</div>
