<!DOCTYPE html>
<html>
	<head profile='http://microformats.org/profile/rel-license'>
		<title>
			<% if @page_title != nil %>
				<%=@page_title%> - userstyles.org
			<% else %>
				userstyles.org - Restyle the web!
			<% end %>
		</title>
		<% if @no_bots %>
			<meta name="robots" content="noindex">
		<% elsif @no_index_but_follow %>
			<meta name="robots" content="noindex,follow">
		<% end %>
		<% if !@canonical.nil? %>
			<link rel="canonical" href="<%= @canonical%>">
		<% end %>
		<% if @meta_description %>
			<meta name="description" content="<%=@meta_description%>">
		<% end %>
		<meta property="fb:admins" content="1319443195">
		<link rel="search" href="http://<%=STATIC_DOMAIN%>/opensearch.xml" type="application/opensearchdescription+xml" title="userstyles Search">
		<link rel="icon" href="http://<%=STATIC_DOMAIN%>/images/s3-16.png" type="image/png">
		<% if not @feeds.nil?
			for feed in @feeds-%>
		<link rel="alternate" type="<%=feed[:type]%>" href="<%=feed[:href]%>" title="<%=feed[:title]%>">
			<%- end
		end %>
		<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/fjnbnpbmkenffdnngjfgmeleoegfcffe">

		<%= stylesheet_link_tag 'application', :media => 'all' %>
		
		<script>
			<%#
				Due to https://bugzilla.mozilla.org/show_bug.cgi?id=688580, Stylish could fire events before the deferred script adds listeners.
				To work around this, we will remember the events Stylish fires until the deferred script tells us to stop, at which point
				we'll re-dispatch them.
			%>
			var eventTypesToRecord = ["styleAlreadyInstalled", "styleCanBeInstalled", "styleCanBeUpdated", "styleLoadCode"];
			eventTypesToRecord.forEach(function(type) {
				document.addEventListener(type, recordEvent, false);
			});
			var eventsHeard = [];
			function recordEvent(e) {
				console.log("Recording " + e.type + " for dispatching later.");
				eventsHeard.push(e.type);
			}
			function stopRecordingEvents() {
				console.log("Stopping recording events, " + eventsHeard.length + " events will now be dispatched.");
				eventTypesToRecord.forEach(function(type) {
					document.removeEventListener(type, recordEvent, false);
				});
				eventsHeard.forEach(function(type) {
					var stylishEvent = document.createEvent("Events");
					stylishEvent.initEvent(type, false, false, document.defaultView, null);
					document.dispatchEvent(stylishEvent);
				});
			}
		</script>
		<%= javascript_include_tag 'application', :defer => 'defer' %>

		<% if @header_include != nil %>
			<%=@header_include%>
		<% end %>

		<!--[if lt IE 9]>
		<script type="text/javascript" src="http://<%=STATIC_DOMAIN%>/javascripts/html5.js"></script>
		<![endif]-->

		<!-- Google Analytics -->
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-8246384-1', 'auto');
		<% dimensions = {}
		if !@style.nil? and action_name == 'show'
			dimensions['dimension1'] = h @style.category
			dimensions['dimension2'] = h @style.subcategory
		end
		dimensions['dimension3'] = @no_bots ? 'noindex' : (@no_index_but_follow ? 'noindexfollow' : 'none') %>
		ga('send', 'pageview', <%=raw dimensions.to_json%>);
		</script>
		<!-- End Google Analytics -->

	</head>

	<body>
		<header id="main-header">
			<h1>
				<a href="/">userstyles.org</a> -
				<% if @page_header != nil %>
					<%=@page_header%>
				<% elsif @page_title != nil %>
					<%=@page_title%>
				<% end %>
			</h1>
		</header>

		<div id="content-wrapper">
			<article id="main-article">
				<%=yield%>
			</article>
		</div>

		<div id="left-sidebar">

			<nav>
				<ul>
					<li>
						<%= form_tag('/styles/browse_r', {:method => 'get', :class => params[:as].nil? ? '' : 'advanced-search-active'}) do |f| %>
							<div id="simple-search">
								<input id="search-terms" placeholder="Search" type="search" title="Enter search words or a URL" name="search_terms" size="7" value="<%=params[:search_terms]%>"><input type="submit" id="search-submit" value="→"<% if !params[:as].nil? %> name="as"<%end%>>
							</div>
							<div id="show-advanced-search" style="" onclick="this.parentNode.className+=' advanced-search-active';document.getElementById('search-submit').name = 'as'">Advanced</div>
							<div id="advanced-search">
								<select name="category" id="category-select">
									<option value="all"<%if @bc_category=='all'%> selected="selected"<%end%>>All</option>
									<option value="app"<%if @bc_category=='app'%> selected="selected"<%end%>>App</option>
									<option value="global"<%if @bc_category=='global'%> selected="selected"<%end%>>Global</option>
									<option value="site"<%if @bc_category=='site' and @bc_subcategory.nil?%> selected="selected"<%end%>>Site</option>
									<% if !@bc_subcategory.nil? %>
										<option value="<%=@bc_subcategory%>" selected="selected"><%=@bc_subcategory.capitalize%></option>
									<% end %>
								</select> styles, sorted by
								<% if @chosen_sort.nil? and @direction.nil?
									@chosen_sort = 'relevance'
									@direction = 'desc'
								end %>
								<select name="sort" id="sort-select">
									<% $sorts_map.keys.each do |sort| %>
										<option<%if @chosen_sort == sort%> selected="selected"<%end%> value="<%=sort%>"><%=sort.gsub('_', ' ')%></option>
									<% end %>
								</select><select name="sort_direction">
									<option value="asc"<%if @direction == 'asc'%> selected="selected"<%end%>>asc</option>
									<option value="desc"<%if @direction == 'desc'%> selected="selected"<%end%>>desc</option>
								</select>, showing
								<select name="per_page" id="per-page-select">
									<option<%if params[:per_page].to_i == 10%> selected="selected"<%end%>>10</option>
									<option<%if params[:per_page].to_i == 25%> selected="selected"<%end%>>25</option>
									<option<%if params[:per_page].to_i == 50%> selected="selected"<%end%>>50</option>
									<% if ![0,10,25,50].include?(params[:per_page].to_i) %>
										<option selected="selected"><%=params[:per_page].to_i%></option>
									<% end %>
								</select> per page
								<div id="advanced-search-submit">
									<button onclick="this.parentNode.parentNode.parentNode.className='';document.getElementById('search-submit').name = '';return false">Back</button>
									<input type="submit" name="as" value="Search">
								</div>
							</div>
						<% end %>
					</li>
					<li><%=link_to_unless_current('Browse', :action => "index", :controller => "categories") %></li>
					<% if session[:user_id].nil? %>
						<li><%=link_to_unless_current('Log in', {:action => "index", :controller => "login"}, :rel => 'nofollow') %></li>
					<% else %>
						<li><%=link_to_unless_current('My account', user_path(session[:user_id]), :rel => 'nofollow') %></li>
					<% end %>
					<li><%=link_to_unless_current('Help', {:action => "index", :controller => "help"}, :rel => 'nofollow') %></li>
					<li><a href="http://forum.userstyles.org" rel="nofollow">Forum</a></li>
				</ul>
			</nav>

			<% if !@style.nil? and action_name == 'show'
				cache([@style, 'related']) do
					related = @style.related
					if !related.nil? and !related.empty? %>
						<footer id="related">
							<h2>Related Themes</h2>
							<ul>
								<% related.each do |r| %>
									<li><%= link_to(h(r.short_description), "/styles/#{r.id}/#{r.url_snippet}") %></li>
								<% end %>
								<% if !@style.subcategory.nil? and @style.category == 'site'%>
									 <li class="more">More <%=link_to(h("#{@style.subcategory.capitalize} themes"), :action => "browse", :controller => "styles", :category => @style.subcategory) %></li>
								<% elsif !@style.category.nil? %>	
									 <li class="more">More <%=link_to(h("#{@style.category.capitalize} themes"), :action => "browse", :controller => "styles", :category => @style.category) %></li>
								<% end %>
							</ul>
						</footer>
				<% end 
				end
			end %>

			<% if @no_ads.nil? or !@no_ads %>
				<div class="ad">
					<div class="ad-note"><span>Advertisement</span></div>
					<script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<ins class="adsbygoogle"
						 style="display:inline-block;width:160px;height:600px"
						 data-ad-client="ca-pub-2247465624637408"
						 data-ad-slot="2906936967"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
			<% end %>
		</div>

		<footer>
			<p><a href="/contact" rel="nofollow">Contact the admin.</a></p>
		</footer>

	</body>
</html>
