<!DOCTYPE html>
<html>
	<head profile='http://microformats.org/profile/rel-license'>
		<title>
			<% if @page_title != nil %>
				<%=@page_title%> - userstyles.org
			<% else %>
				userstyles.org - Restyle the web!
			<% end %>
		</title>
		<% if @no_bots %>
			<meta name="robots" content="noindex">
		<% elsif @no_index_but_follow %>
			<meta name="robots" content="noindex,follow">
		<% end %>
		<% if !@canonical.nil? %>
			<link rel="canonical" href="<%= @canonical%>">
		<% end %>
		<% if @meta_description %>
			<meta name="description" content="<%=@meta_description%>">
		<% end %>
		<meta property="fb:admins" content="1319443195">
		<link rel="stylesheet" href="http://<%=STATIC_DOMAIN%>/stylesheets/standard.css" type="text/css">
		<link rel="search" href="http://<%=STATIC_DOMAIN%>/opensearch.xml" type="application/opensearchdescription+xml" title="userstyles Search">
		<link rel="icon" href="http://<%=STATIC_DOMAIN%>/images/s3-16.png" type="image/png">
		<% if not @feeds.nil?
			for feed in @feeds-%>
		<link rel="alternate" type="<%=feed[:type]%>" href="<%=feed[:href]%>" title="<%=feed[:title]%>">
			<%- end
		end %>
		<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/fjnbnpbmkenffdnngjfgmeleoegfcffe">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.3/prototype.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/scriptaculous/1.8.1/scriptaculous.js?load=builder,effects"></script>

		<% if @header_include != nil %>
			<%=@header_include%>
		<% end %>

		<!--[if lt IE 9]>
		<script type="text/javascript" src="http://<%=STATIC_DOMAIN%>/javascripts/html5.js"></script>
		<![endif]-->

		<script type="text/javascript">
			function getUserFromCookie() {
				var vals = document.cookie.split(/;\s*/)
				for (var i = 0; i < vals.length; i++) {
					if (vals[i].split("=")[0] == "user_id") {
						return vals[i].split("=")[1];
					}
				}
				return null;
			}
		</script>

		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-8246384-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>

	<body>
		<header id="main-header">
			<h1>
				<a href="/">userstyles.org</a> -
				<% if @page_header != nil %>
					<%=@page_header%>
				<% elsif @page_title != nil %>
					<%=@page_title%>
				<% end %>
			</h1>
		</header>

		<div id="content-wrapper">
			<article id="main-article">
				<%=yield%>
			</article>
		</div>

		<div id="left-sidebar">

			<nav>
				<ul>
					<li>
						<form action="<%=url_for(:action => 'browse_r', :controller => 'styles')%>" method="get"<% if !params[:as].nil? %> class="advanced-search-active"<%end%>>
							<div id="simple-search">
								<input id="search-terms" placeholder="Search" type="search" title="Enter search words or a URL" name="search_terms" size="7" value="<%=params[:search_terms]%>"><input type="submit" id="search-submit" value="→"<% if !params[:as].nil? %> name="as"<%end%>>
							</div>
							<div id="show-advanced-search" style="" onclick="this.parentNode.className+=' advanced-search-active';document.getElementById('search-submit').name = 'as'">Advanced</div>
							<div id="advanced-search">
								<select name="category" id="category-select">
									<option value="all"<%=@bc_category=='all' ? ' selected="selected"' : ''%>>All</option>
									<option value="app"<%=@bc_category=='app' ? ' selected="selected"' : ''%>>App</option>
									<option value="global"<%=@bc_category=='global' ? ' selected="selected"' : ''%>>Global</option>
									<option value="site"<%=(@bc_category=='site' and @bc_subcategory.nil?) ? ' selected="selected"' : ''%>>Site</option>
									<% if !@bc_subcategory.nil? %>
										<option value="<%=@bc_subcategory%>" selected="selected"><%=@bc_subcategory.capitalize%></option>
									<% end %>
								</select> styles, sorted by
								<% if @chosen_sort.nil? and @direction.nil?
									@chosen_sort = 'relevance'
									@direction = 'desc'
								end %>
								<select name="sort" id="sort-select">
									<% $sorts_map.keys.each do |sort| %>
										<option<%=@chosen_sort == sort ? ' selected="selected"' : ''%> value="<%=sort%>"><%=sort.gsub('_', ' ')%></option>
									<% end %>
								</select><select name="sort_direction">
									<option value="asc"<%=@direction == 'asc' ? ' selected="selected"' : ''%>>asc</option>
									<option value="desc"<%=@direction == 'desc' ? ' selected="selected"' : ''%>>desc</option>
								</select>, showing
								<select name="per_page" id="per-page-select">
									<option<%=params[:per_page].to_i == 10 ? ' selected="selected"' : ''%>>10</option>
									<option<%=params[:per_page].to_i == 25 ? ' selected="selected"' : ''%>>25</option>
									<option<%=params[:per_page].to_i == 50 ? ' selected="selected"' : ''%>>50</option>
									<% if ![0,10,25,50].include?(params[:per_page].to_i) %>
										<option selected="selected"><%=params[:per_page].to_i%></option>
									<% end %>
								</select> per page
								<div id="advanced-search-submit">
									<button onclick="this.parentNode.parentNode.parentNode.className='';document.getElementById('search-submit').name = '';return false">Back</button>
									<input type="submit" name="as" value="Search">
								</div>
						</form>
					</li>
					<li><%=link_to_unless_current('Browse', :action => "index", :controller => "categories") %></li>
					<% if session[:user_id].nil? %>
						<li><%=link_to_unless_current('Log in', {:action => "index", :controller => "login"}, :rel => 'nofollow') %></li>
					<% else %>
						<li><%=link_to_unless_current('My account', user_path(session[:user_id]), :rel => 'nofollow') %></li>
					<% end %>
					<li><%=link_to_unless_current('Help', {:action => "index", :controller => "help"}, :rel => 'nofollow') %></li>
					<li><a href="http://forum.userstyles.org" rel="nofollow">Forum</a></li>
				</ul>
			</nav>

			<% if !@style.nil? and action_name == 'show'
				cache([@style, 'related']) do
					related = @style.related
					if !related.nil? and !related.empty? %>
						<footer id="related">
							<h2>Related Themes</h2>
							<ul>
								<% related.each do |r| %>
									<li><%= link_to(h(r.short_description), "/styles/#{r.id}/#{r.url_snippet}") %></li>
								<% end %>
								<% if !@style.subcategory.nil? and @style.category == 'site'%>
									 <li class="more">More <%=link_to(h("#{@style.subcategory.capitalize} themes"), :action => "browse", :controller => "styles", :category => @style.subcategory) %></li>
								<% elsif !@style.category.nil? %>	
									 <li class="more">More <%=link_to(h("#{@style.category.capitalize} themes"), :action => "browse", :controller => "styles", :category => @style.category) %></li>
								<% end %>
							</ul>
						</footer>
				<% end 
				end
			end %>

			<% if @no_ads.nil? or !@no_ads %>
				<div class="ad">
					<div class="ad-note"><span>Advertisement</span></div>
					<script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<ins class="adsbygoogle"
						 style="display:inline-block;width:160px;height:600px"
						 data-ad-client="ca-pub-2247465624637408"
						 data-ad-slot="2906936967"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
			<% end %>
		</div>

		<footer>
			<p><a href="/contact" rel="nofollow">Contact the admin.</a></p>
		</footer>

		<script type="text/javascript">
			function asyncScript(url) {
				var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				po.src = url;
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			};
			asyncScript('//connect.facebook.net/en_US/all.js#xfbml=1');
			asyncScript('https://apis.google.com/js/plusone.js');
			asyncScript('http://platform.twitter.com/widgets.js');
			asyncScript("//assets.pinterest.com/js/pinit.js");
		</script>

	</body>
</html>
